<%include header.ejs %>
						<!-- START: PAGE CONTENT -->
						<header class="page-header padd-box">
							<h1 class="title-lg text-upper">Blog</h1>
						</header>

						<div id="articles"></div>

						<div class="pagination" id="pager">
							
						</div><!-- .pagination -->

						<!-- END: PAGE CONTENT -->

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/model/article.js"></script>
<%include footer.ejs %>
