<%include header.ejs %>
						<!-- START: PAGE CONTENT -->
    <h2 class="title-lg text-upper padd-box">contact me</h2>

    <div class="padd-box-xs">
        <header class="contact-head">
            <ul class="ace-social primary-social clear-list">
                <li><a><span class="ace-icon ace-icon-facebook"></span></a></li>
                <li><a><span class="ace-icon ace-icon-twitter"></span></a></li>
                <li><a><span class="ace-icon ace-icon-google-plus"></span></a></li>
                <li><a><span class="ace-icon ace-icon-instagram"></span></a></li>
                <li><a><span class="ace-icon ace-icon-pinterest"></span></a></li>
            </ul>
            <p class="title text-upper">fell free to contact me the core of your marketing</p>
        </header>
    </div>

    <div class="padd-box-sm">
        <form action="#" method="post" class="contact-form">

            <div class="form-group">
                <label class="form-label" for="author">Your Name</label>
                <div class="form-item-wrap">
                    <input id="author" class="form-item" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="email">Your E-mail</label>
                <div class="form-item-wrap">
                    <input id="email" class="form-item" type="email" required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="url">Subject</label>
                <div class="form-item-wrap">
                    <input id="url" class="form-item" type="url">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="comment">Your Comment</label>
                <div class="form-item-wrap">
                    <textarea id="comment" class="form-item"></textarea>
                </div>
            </div>

            <div class="form-submit form-item-wrap">
                <input class="btn btn-primary btn-lg" type="submit" value="Post Your Comment">
            </div>
        </form>
    </div>

    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>

<!-- END: PAGE CONTENT -->
<%include footer.ejs %>