 </div><!-- .ace-paper-cont -->
            </main><!-- .ace-paper -->
        </div><!-- .ace-paper-stock -->

        </div><!-- .ace-container -->
    </div><!-- #ace-content -->

    <%include sidebar.ejs %>

    <footer id="ace-footer" class="ace-container-shift">
        <div class="ace-container">
            <div class="ace-footer-cont clear-mrg">
                <p class="text-center">Copyright &copy; 2017.FullStack All rights reserved.<a target="_blank" href="http://www.fullstackcommunity.cn/"></a></p>             
            </div>
        </div><!-- .ace-container -->
    </footer><!-- #ace-footer -->

    <!-- Triangle Shapes -->
    <svg id="ace-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon points="0,455,693,352,173,0,92,0,0,71" style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
    </svg>

    <svg id="ace-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536" style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
    </svg>
</div><!-- .ace-wrapper -->

<!-- Scripts -->
<script type="text/javascript" src="/js/vendor/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/plugins/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="/js/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/js/plugins/progressbar.min.js"></script>
<script type="text/javascript" src="/js/plugins/slick.min.js"></script>
<script type="text/javascript" src="/js/options.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
