<%include header.ejs %>
						<!-- START: PAGE CONTENT -->
    <div class="padd-box">

        <section class="section clear-mrg">
            <h2 class="title-lg text-upper">References</h2>

            <div class="padd-box-sm clear-mrg">
               <div id="members"></div>
            </div><!-- .padd-box-sm -->
        </section><!-- .section -->

        <section class="section clear-mrg">
            <h2 class="title-lg text-upper">Clients</h2>
            <div class="padd-box-sm">
                <ul class="clients">
                    <li id="sites"></li>
                </ul>
            </div><!-- .padd-box-sm -->
        </section><!-- .section -->
    </div><!-- .padd-box -->
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/model/member.js"></script>
<!-- END: PAGE CONTENT -->
<%include footer.ejs %>