<%include header.ejs %>
						<!-- START: PAGE CONTENT -->

<div class="padd-box">
    <h1 class="title-lg text-upper">portfolio</h1>
</div>


<div class="pf-wrap">
    <div class="pf-filter padd-box">
        <div id="flags"></div>
    </div><!-- .pf-filter -->

    <div class="pf-grid">
        <div class="pf-grid-sizer"></div><!-- used for sizing -->
        <div id="products"></div>
	</div><!-- .pf-grid -->
</div><!-- .pf-wrap -->
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/model/product.js"></script>
<!-- END: PAGE CONTENT -->
<%include footer.ejs %>