<%include header.ejs %>
						<!-- START: PAGE CONTENT -->
						<article class="post hentry">
							<div class="post-media">
								<div class="post-slider slider">
									<div>
										<a href="single-slider.html" rel="bookmark">
											<img src="/img/uploads/blog-slider-img.png" alt="">
										</a>
									</div>
									<div>
										<a href="single-slider.html" rel="bookmark">
											<img src="/img/uploads/blog-slider-img.png" alt="">
										</a>
									</div>
									<div>
										<a href="single-slider.html" rel="bookmark">
											<img src="/img/uploads/blog-slider-img.png" alt="">
										</a>
									</div>
								</div>
							</div>

							<div class="padd-box-sm">
								<header class="post-header text-center">
									<h2 class="post-title entry-title text-upper">Post With Slider</h2>

									<div class="post-header-info">
										<span class="posted-on"><span class="screen-reader-text">Posted on </span><a
												href="http://someurl" rel="bookmark">
												<time class="post-date published" datetime="2016-07-04T11:33:08+00:00">4 July 2016</time>
												<time class="post-date updated" datetime="2016-12-08T14:45:55+00:00">8 December 2016</time>
											</a></span>
										&nbsp;<span class="post-author vcard">by <a class="url fn n" href="http://someurl" rel="author">Author</a></span>
									</div>
								</header>

								<div class="post-content entry-content editor clearfix clear-mrg">
									<p>Your brand is the core of your marketing, the central theme around your products and services.
										Your brand is not your Logo or your Company Name unless of course you are Microsoft or the
										Yellow Pages online directory.</p>
										<p>Your brand is the core of your marketing, the central theme around your products and services.
										Your brand is not your Logo or your Company Name unless of course you are Microsoft or the
										Yellow Pages online directory.</p>
										<p>Your brand is the core of your marketing, the central theme around your products and services.
										Your brand is not your Logo or your Company Name unless of course you are Microsoft or the
										Yellow Pages online directory.</p>
										<p>Your brand is the core of your marketing, the central theme around your products and services.
										Your brand is not your Logo or your Company Name unless of course you are Microsoft or the
										Yellow Pages online directory.</p>
										<p>Your brand is the core of your marketing, the central theme around your products and services.
										Your brand is not your Logo or your Company Name unless of course you are Microsoft or the
										Yellow Pages online directory.</p>
								</div>

								<footer class="post-footer">
									<div class="post-footer-top brd-btm clearfix">
										<div class="post-footer-info">
												<span class="post-cat-links"><span class="screen-reader-text">Categories</span><a
														href="http://someurl" rel="category tag">Work</a>&nbsp;,&nbsp;<a
														href="http://someurl" rel="category tag">Team</a>
												</span><span class="post-line">|</span><a
												href="" class="post-comments-count">24 comments</a>
										</div>

										<!--<div class="post-more">
											<a class="btn btn-sm btn-primary" href="single-slider.html" rel="bookmark">分享</a>
										</div>-->
									</div>
								</footer>
							</div>
						</article><!-- .post -->


						<!-- END: PAGE CONTENT -->

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/model/single.js"></script>
<%include footer.ejs %>
