<script src="../js/ckeditor/ckeditor.js"></script>
<script src="../model/manage/blog_add.js"></script>
		<h1 class="page-title"><i class="icon-qq"></i>博客新增</h1>
		<form id="addmerchantinfo_form" name="addmerchantinfo_form" enctype="multipart/form-data" method="post" >
				<input type="file" name="idFile" /><div id="btn_submit2">12123232123</div>
		</form>
				<table class="listing form" cellpadding="0" cellspacing="0" width="100%"><tbody>
					<tr>
						<th class="full" colspan="3">输入信息</th>
					</tr>
					<tr>
						<td class="first" width="80"><strong>名称</strong></td>
						<td class="last"><input class="text" type="text" id="name" width="50%"></td>
					</tr>
					<tr>
						<td class="first"><strong>分类</strong></td>
						<td class="last">
							<select name="dataclass" id="dataclass">
								<option value="0">请选择分类</option>
							</select>
						</td>
					</tr>
					<tr class="bg">
						<td class="first"><strong>内容</strong></td>
						<td class="last">
							<textarea name="comment" id="comment"  rows="27" cols="80"></textarea>
						</td>
					</tr>
					<tr>
						<td class="first">&nbsp;</td>
						<td class="last">
							<input type="button" value="添加" id="btn_submit" />
						</td>
					</tr>
				</tbody></table>
    </div>